<%-include("partials/header"); -%>
    <% entries.forEach(function(entry){%>
        <h1><%=entry.date%> </h1>
        <h4><%=entry.entry%></h4>
    <%});%>
    <a href="/acc/<%=account%>/thoughts"><button>Create</button></a>

<%-include("partials/footer"); -%>    